option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: cryptogyproject.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
container_commands:
  01_collectstatic:
    command: "eb-virt/Scripts/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "eb-virt/Scripts/activate && python manage.py migrate --noinput"
    leader_only: true