{% extends "cryptogyapp/base.html" %}
{% block title %}{{ thisCryptosystem.name }} Cryptosystem{% endblock %}
{% block title-header %}{{ thisCryptosystem.name }} Cryptosystem{% endblock %}
{% block subtitle-header %}{{ thisCryptosystem.desc }}{% endblock %}
{% block content %}
<form id="mvForm" action="" method="post">
    {% csrf_token %}
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <small class="btn btn-light" style="font-size:12px;background-color:#E2E2E2;">A random key will be generated for encryption if not provided by the user.</small>
            <div class="form-floating mb-3">
                <input name="{{form.keyParam.name}}" class="form-control" id="key" type="text" placeholder="Enter a list of at most 17 random numbers separated by spaces...">
                <label name="keyParam">Key</label>
            </div>
            <div class="form-floating mb-3">
                <textarea name="{{form.clearText.name}}" class="form-control" id="cleartextarea" type="text" placeholder="Enter a cleartext..." style="height: 15rem"></textarea>
                <label name="clearText">Cleartext</label>
            </div>
            <div class="form-floating mb-3">
                <textarea name="{{form.cipherText.name}}" class="form-control" id="ciphertextarea" type="text" placeholder="Enter a ciphertext..." style="height: 15rem"></textarea>
                <label name="cipherText">Ciphertext</label>
            </div>
            <input id="encryptbtn" type="submit" class="btn btn-primary" value="Encrypt" name="encryptinput"/>
            <input id="decryptbtn" type="submit" class="btn btn-primary" value="Decrypt" name="decryptinput"/>
            {{ form.errors }}
            {{ form.non_field_errors }}
        </div>
    </div>
</form>
{% endblock content %}
